@import "tailwindcss";

@font-face {
  font-family: "anton";
  font-style: normal;
  src: url("/src/assets/fonts/Anton-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  font-style: normal;
  src: url("/src/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@theme {
  --color-primary: #fcf3e3;
  --color-secoundary: #153c58;
  --color-blue: #bdd3ce;
  --color-orange: #e9a565;

  --font-title: anton, sans-serif;
  --font-text: roboto, sans-serif;

  --animate-fadeIn: fadeIn 0.5s ease-in-out forwards;
  --animate-fadeOut: fadeOut 0.5s ease-in-out forwards;
   
  @keyframes fadeIn{
        0% { opacity: 0 },
        100% { opacity: 1 },
      }
  @keyframes fadeOut{
      0% { opacity: 1 },
      100% { opacity: 0 },
    }
}

.material-symbols-outlined {
  font-size: 32px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
