@import "tailwindcss";

@font-face {
  font-family: "anton";
  font-style: normal;
  src: url("/src/assets/fonts/Anton-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  font-style: normal;
  src: url("/src/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@theme {
  --color-primary: #fcf3e3;
  --color-secoundary: ##153c58;
  --color-blue: #bdd3ce;
  --color-orange: #e9a565;

  --font-title: anton, sans-serif;
  --font-text: roboto, sans-serif;
}
